{% extends "base.html" %}

{% block content %}
	<h1> Items for "{{ cat.name }}" </h1>
	
      	{% if 'user_id' in session and session['user_id'] == cat.user_id %}
        	<a href='{{url_for('addItem', category_id = cat.id )}}'>Create Item</a>   
        {% endif %}

		<div style="display: flex;">
			{% if items %}
				{% for i in items %}
				<div class="card" style="width: 20rem;">
				  <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
				  <div class="card-block">
				    <h4 class="card-title">{{ i.name }}</h4>
				    <p class="card-text">{{ i.description }}</p>
				    <a href='{{url_for('editItem', category_id = cat.id, item_id = i.id)}}'>Edit</a>
					<a href='{{url_for('deleteItem', category_id = cat.id, item_id = i.id)}}'> Delete</a>
				  </div>
				</div>
				{% endfor %}
			{% else %}
				<p>No Items</p>
			{% endif %}
		</div>

{% endblock %}
