<html>
	{% include "header.html" %}
	<body>
		<h1> Home Page</h1>

		{% with messages = get_flashed_messages() %}

		{% if messages %}
			<ul> 
				{% for message in messages %}
					<li><strong> {{message}} </strong> </li>
				{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}

		<ul>
			{% for category in categories %}
				<li>
					<!-- <a href="/category/{{category.id}}">{{category.name}}</a> -->
					<a href='{{url_for('categoryPage', category_id = category.id)}}'>
						{{ category.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</body>
	
<html>


